.auth_panel {
    display: flex;
    border: 1px solid #950740;
    min-height: 40vh;
    min-width: 60vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9999;

    width: 500px;
    background: #111;
    padding: 15px;
    
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}