header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}

.header-label{
    margin-left: auto;
}

span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}