.nav {
    display: flex;
    align-items: center;
    justify-content: right;
    border: 1px solid #950740;
    height: 7vh;
    background-color: #111;
}

.logo{
    position: absolute;
    left: 0;
}

.topic{
    line-height: 5vh;
    padding: 1px 1em 1px 1em;
    color: #C3073F;
    border: 1px solid #950740;
    font-size: 20px;
    margin-left: 5vw;
}

.content {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 5vw;
}

.navbarBtn {
    padding: 1px 1em 1px 1em;
    line-height: 5vh;
    font-family: 'Roboto Mono', monospace;
    color: #C3073F;
    border: 1px solid #950740;
    background-color: #1A1A1D;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 10px;
}


.navbarBtn:hover {
    background-color: #cf0e48;
    color: white;
}