.nav {
    display: flex;
    align-items: center;
    border: 1px solid #950740;
    height: 7vh;
    justify-content: space-around;
    background-color: #111;
}

.h1 {
    text-align: center;
    line-height: 5vh;
    padding: 1px 1em 1px 1em;
    color: #C3073F;
    border: 1px solid #950740;
}