.product-card {
    background-color: rgb(0, 60, 255);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    width: 17vw;
    min-width: 120px;
    min-height: 15vh;
    padding: 20px;
    margin-top: 5vh;
}

.product-title {
    text-align: center;
    font-size: large;
    font-family: fantasy;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.product-taste {
    font-weight: bold;
    font-size: 1.2em;
    color: greenyellow;
}

.product-quantity{
    padding-top: 10px;
    font-family: fantasy;
    font-size: 1.2em;
    float: right;
}