.product-card {
    background-color: rgba(78, 78, 80, 0.5);
    border: 1px solid black;
    border-color: #950740;
    width: 17vw;
    min-width: 120px;
    min-height: 15vh;
    padding: 20px;
    margin-top: 5vh;
    font-family: 'Roboto Mono', monospace;
    color: #C3073F;
}

.product-title {
    text-align: center;
    font-size: large;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.product-taste {
    font-weight: bold;
    font-size: 1.2em;
}

.product-quantity{
    padding-top: 10px;
    font-size: 1.2em;
    float: right;
}