.todoItemCard {
    background-color: rgba(78, 78, 80, 0.5);
    border: 1px solid black;
    border-color: #950740;
    width: 17vw;
    min-width: 288px;
    min-height: 15vh;
    max-height: 40vh;
    padding: 20px;
    margin-top: 5vh;
    margin-right: 10px;
    margin-left: 10px;
    color: #C3073F;
}

.todoItemTitle {
    text-align: center;
    font-size: large;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.todoItemTopic {
    font-weight: bold;
    font-size: 1.2em;
}

.todoItemQuantity{
    padding-top: 10px;
    font-size: 1.2em;
    float: right;
}