.sidebar {
    width: 20%;
    height: 100%;
    border: 1px solid #950740;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.content{
  text-align: left;
}

.topic{
  color: #C3073F;
  font-size: large;
  letter-spacing: 1px;
  padding-bottom: 10px;
  cursor: pointer;
}

.topic:hover{
  border: 1px solid  #c3073f;
}

.section{
  margin-left: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}